<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-info">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title text-center">Editing Invoice #{{newInvoice.id}}</h2>
        </div><!--end modal header-->
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <h2>General</h2>
                    Date: {{newInvoice.date | date: medium-date}}
                    <br />
                    CustomerID:
                    <div class="row">
                        <div class="col-md-4"><input type="number" class="form-control" ng-model="newInvoice.customer" placeholder="#" readonly></div>
                        <div class="col-md-8">
                            <select class="form-control"
                                    ng-model="guestCustomer"
                                    ng-options="customer.name for customer in customers"
                                    ng-change="newSetCustomerID(guestCustomer)">
                                <option value="" disabled selected>- Select Customer -</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <br />
                    <br />
                    Status:
                    <select class="form-control"
                            ng-model="newInvoice.status"
                            ng-options="statusType.value as statusType.name for statusType in statusTypes">
                        <option value="" disabled selected>- Select Status -</option>
                    </select>
                </div>
                <br />
            </div>
            <h2>Shipment Details</h2>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3 class="panel-title"><strong>Bill To:</strong></h3></div>
                        <div class="panel-body">
                            <p><strong>Customer Name: </strong>{{newInvoice.billTo.name}}</p>
                            <p><strong>Company Name: </strong>{{newInvoice.billTo.companyName}}</p>
                            <p><strong>Street Address: </strong>{{newInvoice.billTo.streetAddress}}</p>
                            <p><strong>City, Zip: </strong>{{newInvoice.billTo.city}}, {{newInvoice.billTo.zipCode}}</p>
                            <p><strong>Phone/Fax: </strong>{{newInvoice.billTo.phoneNumber}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <select class="form-control"
                                    ng-model="billToCustomer"
                                    ng-options="customer.name for customer in customers"
                                    ng-change="newSetBillTo(billToCustomer)">
                                <option value="" disabled selected>- Select Customer -</option>
                            </select>
                        </div><!--end col-md-8-->
                    </div><!--end row-->
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading"><h3 class="panel-title"><strong>Ship To:</strong></h3></div>
                        <div class="panel-body">
                            <p><strong>Customer Name: </strong>{{newInvoice.shipTo.name}}</p>
                            <p><strong>Company Name: </strong>{{newInvoice.shipTo.companyName}}</p>
                            <p><strong>Street Address: </strong>{{newInvoice.shipTo.streetAddress}}</p>
                            <p><strong>City, Zip: </strong>{{newInvoice.shipTo.city}}, {{newInvoice.shipTo.zipCode}}</p>
                            <p><strong>Phone/Fax: </strong>{{newInvoice.shipTo.phoneNumber}}</p>
                        </div><!--end panel-body-->
                    </div><!--end panel-->
                    <div class="row">
                        <div class="col-md-8">
                            <select ng-model="shipToCustomer"
                                    class="form-control"
                                    ng-options="customer.name for customer in customers"
                                    ng-change="newSetShipTo(shipToCustomer)">
                                <option value="" disabled selected>- Select Customer -</option>
                            </select>
                        </div><!--end col-md-8-->
                    </div><!--end row-->
                </div><!--end col-md-6-->
            </div>
            <h2>Ordered Items</h2>
            <div class="row">
                <div class="col-md-5">
                    <select ng-model="selectedItem"
                            class="form-control"
                            ng-options="item.description for item in items">
                        <option value="" disabled selected>- Select Item -</option>
                    </select>
                </div>
                <button class="btn btn-primary"
                        ng-click="pushToItemList(selectedItem)">
                    Add
                </button>
            </div>
            <br />
            <div ng-hide="listExists"><hr /><h3 style="text-align: center;">No items selected</h3></div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover" ng-show="listExists">
                        <thead>
                            <tr>
                                <th class="col-md-1"><h4>ID</h4></th>
                                <th class="col-md-2"><h4>Description</h4></th>
                                <th class="col-md-2"><h4>Store Qty</h4></th>
                                <th class="col-md-2"><h4>Amount</h4></th>
                                <th class="col-md-2"><h4>Quantity</h4></th>
                                <th class="col-md-2"><h4>Total</h4></th>
                                <th class="col-md-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in itemList">
                                <td class="col-md-1">{{item.id}}</td>
                                <td class="col-md-2">{{item.description}}</td>
                                <td class="col-md-2">{{item.quantity - purchasedQuantity[$index]}}</td>
                                <td class="col-md-2">{{item.unitPrice}}</td>
                                <td>
                                    <input class="form-control"
                                           type="number"
                                           min="1"
                                           max="{{item.quantity}}"
                                           ng-model="purchasedQuantity[$index]"
                                           ng-change="calculateFinal()">
                                </td>
                                <td class="col-md-2">{{purchasedQuantity[$index] * item.unitPrice |number:2}}</td>
                                <td class="col-md-1"><button class="btn btn-default btn-sm" ng-click="removeFromItemList(item)"><i class="fa fa-times"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-9">
                        <p><strong>Subtotal: {{subTotal | number:2}}</strong></p>
                        <p><strong>Tax Rate: {{taxRate | number:2}}</strong></p>
                        <p><strong>Tax: {{tax | number:2}}</strong></p>
                        <p><strong>Other: </strong></p>
                        <h3><strong>TOTAL: {{total | number:2}}</strong></h3>
                    </div>
                </div>
                <br />
            </div>
        </div><!--end modal body-->
        <div class="modal-footer bg-info">
            <button class="btn btn-primary" ng-click="updateDraftInvoice()">Submit</button>
            <button class="btn btn-danger" ng-click="cancelEditDraftInvoice()">Cancel</button>
        </div><!--end modal footer-->
    </div><!--end modal content-->
</div><!--end modal dialog-->