<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header bg-info">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Send INVOICE #{{requestedInvoice.id}} to:</h2>
        </div><!--end modal header-->

        <div class="modal-body">
            <h3>Email</h3>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="email.mailTo">
            </div>
            <br />
            <br />
            <br />
        </div><!--end modal body-->

        <div class="modal-footer bg-info">
            <button type="button" class="btn btn-primary" ng-click="sendEmail()">Send</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div><!--end modal footer-->

    </div><!--end modal content-->
</div><!--end modal dialog-->
